.user-card {
  display: flex;
  align-items: center;
  gap: 16px;
  padding: 16px 24px;
  border-radius: 16px;
  background-color: #4a5259;
  margin: 2em 1em;
}

.users-title {
  text-align: center;
  margin-top: 2em;
}

.user-avatar {
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background-color: #f7b948;
  font-size: 22px;
}

.user-name {
  flex: 1;
  font-size: 16px;
  background-color: #4a5259;
}

.user-dm-btn:hover {
  color: #f7b948;
}

.user-dm-btn,
.user-delete .btn-danger {
  min-width: 180px;
  text-align: center;
  background-color: #4a5259;
}

.confirm-row {
  background-color: #4a5259;
  display: flex;
  gap: 1em;
}

.user-delete {
  background-color: #4a5259;
}
