:root {
  --primary-color: #000000;
  --secondary-color: #ffb84d;
  --third-color: #ffffff;
  --logo-color: #ffa42d;
}

.btn {
  /* background-color: var(--secondary-color);
  color: var(--third-color); */
  border: none;
  padding: 1em 2em;
  border-radius: 5px;
  font-size: 1rem;
  border-radius: 4px;
  cursor: pointer;
  transition: 0.2s;
}
